# scpyocto default configuration
# All parameters can be overridden in $SEISCOMP_ROOT/etc/scpyocto.cfg

# --- Bounding box ---
pyocto.lat_min = 28.0
pyocto.lat_max = 35.0
pyocto.lon_min = -109.0
pyocto.lon_max = -99.0
pyocto.depth_min = 0.0
pyocto.depth_max = 50.0

# --- 0D velocity model ---
pyocto.vp = 6.0
pyocto.vs = 3.46
pyocto.tolerance = 2.5

# --- Association ---
pyocto.time_before = 60.0
pyocto.n_picks = 4
pyocto.n_p_picks = 3
pyocto.n_s_picks = 0
pyocto.n_p_and_s_picks = 0
pyocto.pick_match_tolerance = 2.0
pyocto.min_interevent_time = 3.0
pyocto.time_slicing = 1200.0

# --- Module ---
pyocto.cycle_seconds = 30
pyocto.max_pick_age = 1800
